.loginContainer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 380px;
  height: 228px;
  margin-left: -191px;
  margin-top: -114px;
  z-index: 10;
  border: 1px solid #CCC;
  border-radius: 10px;
  background: #F6F6F6;
  box-shadow: 0 0 8px #000;
}
.loginContainer .close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 28px;
  height: 28px;
  z-index: 11;
  background: url(images/loginCloseBtn.png) no-repeat 0 0;
  cursor: pointer;
}
.loginContainer .loginContent {
  padding: 10px;
  overflow: hidden;
}
.loginContainer .loginContent .loginHeader {
  height: 44px;
  margin-left: 90px;
  background: url(images/loginLogo.png) no-repeat 0 0;
}
.loginContainer .loginContent .loginInput {
  margin: 15px 0 0 55px;
}
.loginContainer .loginContent .loginInput .errHint {
  width: 280px;
  color: #FF0000;
  text-align: center;
}
.loginContainer .loginContent .loginInput .inputLine {
  margin: 14px 0 0;
}
.loginContainer .loginContent .loginInput .inputLine .item {
  width: 60px;
  height: 20px;
  float: left;
  margin-right: 5px;
  text-indent: -1000em;
  background: url(images/loginBtn.png) no-repeat 0 0;
}
.loginContainer .loginContent .loginInput .inputLine .account {
  background-position: 0 -36px;
}
.loginContainer .loginContent .loginInput .inputLine .password {
  background-position: -60px -36px;
}
.loginContainer .loginContent .loginInput .inputLine input {
  width: 170px;
  border: 1px solid #CCC;
  padding: 2px 5px;
  font-size: 16px;
  color: #868686;
}
.loginContainer .loginContent .loginInput .inputLine .link {
  line-height: 24px;
  margin-left: 10px;
}
.loginContainer .loginContent .loginBtnLine {
  margin: 15px 0 0 168px;
}
.loginContainer .loginContent .loginBtnLine .loginBtn {
  width: 111px;
  height: 36px;
  line-height: 20px;
  margin-left: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #0C4E7C;
  background: url(images/loginBtn.png) no-repeat -111px 0;
}
