extends ./layout.jade

block title "主页面"

block style

block content
  img.bigBg(src="../images/bg.jpg")
  include mainApp/mainApp.jade
  include chatBox/chatBox.jade
  include leftBar/leftBar.jade
  include login/login.jade
  include infoBubble/infoBubble.jade
  include searchPanel/searchPanel.jade
  div.mask
block script
  // build:js js/index.js
  script(type='text/javascript' src="index.js")
  // endbuild
  
