* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
body {
  color: #333333;
  font: 12px/14px Geneva, "宋体", Tahoma, sans-serif;
}
a {
  color: #0061da;
  text-decoration: none;
}
.header {
  top: 0;
}
.footer {
  bottom: 0;
}
.container {
  width: 956px;
  margin: 0 auto;
  position: relative;
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
