// build:css css/infoBubble.css
link(rel='stylesheet', href='infoBubble.css')
// endbuild
div.infoBubbleContainer
  div.infoList
    div.infoTitle 未读消息(1)
    div.infoListContainer
      div.infoListContent
        ul
          //- li
          //-   a
          //-     span.nick min：
          //-     span.msg 开心
          //-     span.count (1)
      div.infoListBtn
        a.cancelNotifyBtn 忽略提醒
        a.viewAllBtn 查看全部
  div.bubblePanel
    span.icon.singleIcon
    span.msg 系统：暂无消息
    span.count 0
    span.icon.msgBoxIcon
