doctype html
html
  head
    title
      block title
    meta(charset="UTF-8")
    // build:css css/lib.css
    link(rel='stylesheet', href='../css/common.css')
    // endbuild
    // build:js js/lib.js
    script(src="../js/jquery-1.11.2.min.js")
    script(src="../js/tool.js")
    script(type='text/javascript' src="/socket.io/socket.io.js")
    // endbuild
    // build:js js/require.js
    script(src='../js/require.js')
    // endbuild
    block style 
  body
    block content
    // 使用注释和usemin合作生成任务配置，并且修改静态路径
    block script