doctype html
html
  head
    title
      block title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='../css/common.css')
    block style 
  body
    block content
    script(src="../js/jquery-1.11.2.min.js")
    block script