.container .header {
  height: 94px;
  background: url(images/regHeader.png) no-repeat center top;
}
.container .header .logo {
  float: left;
  height: 94px;
  width: 289px;
}
.container .header #linkToLogin {
  color: #FFF;
  cursor: pointer;
  float: right;
  margin: 68px 20px 0 0;
}
.container .contentContainer .left {
  background: #f8fdff url(images/regLeft.png) no-repeat left top;
  height: 580px;
  padding-top: 30px;
  width: 210px;
}
.container .contentContainer .right {
  background: #f8fdff url(images/regRight.png) no-repeat right top;
  border-bottom: 1px solid #D6D9DB;
  border-top: 1px solid #80ADD9;
  min-height: 530px;
  padding-bottom: 80px;
  width: 746px;
}
.container .contentContainer #regForm {
  padding-top: 50px;
}
.container .contentContainer #regForm .inputLine {
  clear: both;
}
.container .contentContainer #regForm .inputLine .item {
  float: left;
  font-size: 14px;
  height: 44px;
  line-height: 20px;
  padding-right: 10px;
  padding-top: 6px;
  text-align: right;
  width: 179px;
}
.container .contentContainer #regForm .inputLine .inputBox {
  float: left;
  position: relative;
  height: 60px;
  width: 306px;
}
.container .contentContainer #regForm .inputLine .inputBox .inputBorder {
  border: none;
  height: 35px;
  width: 300px;
}
.container .contentContainer #regForm .inputLine .inputBox .inputBorder:hover {
  background: url(../images/input.png) no-repeat 0 0;
}
.container .contentContainer #regForm .inputLine .inputBox .inputBorder input {
  background: none;
  border: none;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  width: 284px;
  padding: 8px;
}
.container .contentContainer #regForm .inputLine .inputBox .inputError {
  background: url(../images/inputError.png) no-repeat 0 0;
}
.container .contentContainer #regForm .inputLine .inputBox .inputCorrect {
  background: url(../images/input.png) no-repeat 0 0;
}
.container .contentContainer #regForm .inputLine .inputBox input[type="submit"] {
  background: url(../images/input.png) no-repeat 0 -344px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font: bold 22px/52px "微软雅黑";
  width: 183px;
}
.container .contentContainer #regForm .inputLine .tipsBox {
  float: left;
  height: 40px;
  width: 236px;
}
.container .contentContainer #regForm .inputLine .tipsBox .tips div {
  padding-top: 10px;
}
.container .contentContainer #regForm .inputLine .tipsBox .tips .tip {
  background: none;
  padding-left: 0;
  color: #808080;
}
.container .contentContainer #regForm .inputLine .tipsBox .tips .error {
  background: url(../images/error.png) no-repeat 0 11px;
  color: #F66;
  padding-left: 16px;
  display: none;
}
.container .contentContainer #regForm .inputLine .tipsBox .tips .correct {
  background: url(../images/correct.png) no-repeat 0 11px;
  padding-left: 16px;
  height: 15px;
  display: none;
}
